<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Clients
    </ion-title>
    <ion-buttons slot="end">
        <ion-button style="min-width:auto">
          <ion-icon slot="icon-only" name="person-add"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <div class="profile-picture" (click)="openActionSheet()">
    <ion-img *ngIf="base64img == ''" src="{{ apiLink }}public/images/thumb_{{ img }}"></ion-img>
    <ion-img *ngIf="base64img != ''" [src]="base64img"></ion-img>
  </div>
  <form [formGroup]="form">
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input formControlName="fname"  type="text"></ion-input>
      </ion-item>
      <small style="color:#f72815" *ngIf="!form.controls.fname.valid  && submitAttempt">Please enter your first name.</small>
      <ion-item>
          <ion-label position="floating">Last Name</ion-label>
          <ion-input formControlName="lname"  type="text"></ion-input>
        </ion-item>
        <small style="color:#f72815" *ngIf="!form.controls.lname.valid  && submitAttempt">Please enter your last name.</small>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"  type="email"></ion-input>
      </ion-item>
      <small style="color:#f72815" *ngIf="!form.controls.email.valid  && submitAttempt">Please enter your email.</small>
  </form>
  


</ion-content> -->
