<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            <img alt="logo" id="header_logo" height="40" src="assets/logo_small.png">
        </ion-title>
        <div slot="end" class="notice">
            <fa-icon [icon]="['far', 'bell']"></fa-icon>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="fav_banner">
        <img src="assets/fab_icon.png" height="160" />
        <h1>My Saved Favorites</h1>
    </div>

    <div class="ss_favor_home">
        <h3 class="ion-text-center">Search for “Pixie” Styles Results!</h3>
        <p class="ion-text-center">To save the “Pixie” hairstyles you like, click the
            <a href="#"> <b>My Favs</b> </a> icon. </p>


        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <img src="assets/g1.png" />
                        <div class="remove_postss">
                            <fa-icon slot="start" icon="heart"></fa-icon>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <img src="assets/g2.png" />
                        <div class="remove_postss">
                            <fa-icon slot="start" icon="heart"></fa-icon>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <img src="assets/g3.png" />
                        <div class="remove_postss">
                            <fa-icon slot="start" icon="heart"></fa-icon>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <img src="assets/g4.png" />
                        <div class="remove_postss">
                            <fa-icon slot="start" icon="heart"></fa-icon>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <img src="assets/g1.png" />
                        <div class="remove_postss">
                            <fa-icon slot="start" icon="heart"></fa-icon>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <img src="assets/g2.png" />
                        <div class="remove_postss">
                            <fa-icon slot="start" icon="heart"></fa-icon>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <img src="assets/g3.png" />
                        <div class="remove_postss">
                            <fa-icon slot="start" icon="heart"></fa-icon>
                        </div>
                    </ion-card>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <img src="assets/g4.png" />
                        <div class="remove_postss">
                            <fa-icon slot="start" icon="heart"></fa-icon>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="ion-text-center">
            <ion-button style="min-width: 300px;" shape="round" color="primary ">Load More</ion-button>
            <ion-button style="min-width: 300px;" shape="round" color="primary " fill="outline">Start Another Search</ion-button>
        </div>

    </div>
</ion-content>