<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="pr_dasb">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-list-header>
              <ion-label>ACCOUNT</ion-label>
            </ion-list-header>
            <ion-item routerLink="/home/ctabs/my-account">
              <ion-icon slot="start" name="woman"></ion-icon> Edit Account
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-list-header>
              <ion-label>PAYMENT</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-icon slot="start" name="cash"></ion-icon>Payment Method
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-list-header>
              <ion-label>SHARE</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-icon slot="start" name="git-compare"></ion-icon> Recommend the salon
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="cut"></ion-icon> InviteBarber
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-list-header>
              <ion-label>FOLLOW US</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-icon slot="start" name="logo-facebook"></ion-icon> Facebook
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="logo-instagram"></ion-icon> Instrgram
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="logo-twitter"></ion-icon>Twitter
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-list-header>
              <ion-label>ABOUT</ion-label>
            </ion-list-header>
            <ion-item>
              <ion-icon slot="start" name="pulse"></ion-icon> Websit
            </ion-item>
            <ion-item>
              <ion-icon slot="start" name="medal"></ion-icon>Terms of service
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>