<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="ion-text-center">
            <img alt="logo" id="header_logo" height="40" src="assets/logo_small.png">
        </ion-title>
        <div slot="end" class="notice">
            <fa-icon [icon]="['far', 'bell']"></fa-icon>
        </div>

    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-slides class="home_banner">
        <ion-slide>
            <img src="assets/banner1.png" />
            <div class="banner_content">
                <div class="banner_content_top">
                    <p> <b>Welcome {{ name }},</b></p>
                    <p>We’ve added several new Barbers and Stylists near you!</p>
                </div>
                <ion-button shape="round" routerLink='/home/ctabs/search'>Search Now</ion-button>
            </div>

        </ion-slide>
    </ion-slides>
    <div class="find_home_content">
        <ion-grid>
            <ion-row>
                <ion-col class="ion-text-center" routerLink='/home/ctabs/search'>
                    <h3>Find a Barber</h3>
                    <img src="assets/find_barber_icon.png" />
                    <p>Find the best local Barbers in your area. View their work and book appointments all in one place.</p>
                </ion-col>

                <ion-col class="ion-text-center" routerLink='/home/ctabs/search'>
                    <h3>Find a Stylist</h3>
                    <img src="assets/find_stylish_icon.png" />
                    <p>Find the best local Stylists and Cosmetologists in your area. View their work and book appointments.</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>


    <div class="ss_favor_home">
        <h3 class="ion-text-center">{{ name }}’s Favorite Barbers & Stylists</h3>

        <ion-grid>
            <ion-row *ngIf="fav_stylist.length > 0">
                <ion-col *ngFor="let v of fav_stylist" size="6">
                    <ion-card [routerLink]="['/home/ctabs/profileview',v.id]">
                        <!-- <img src="assets/p1.png" /> -->
                        <img *ngIf="v.image" [src]="apiLink+'public/images/thumb_'+v.image" />
                        <img *ngIf="!v.image" src="../../assets/demo_user.png"/>
                        <ion-card-content>
                            <p>
                                <b> {{v.first_name}} {{ v.last_name }}</b><br/>{{ v.designation }} <br/>{{ v.addr1 }} {{ v.addr2 }}
                            </p>
                            <div *ngIf="v.star < 1" class="rating">
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                            </div>
                            <div *ngIf="v.star == 1" class="rating">
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                            </div>
                            <div *ngIf="v.star > 1 && v.star < 2" class="rating">
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star-half-alt"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                            </div>
                            <div *ngIf="v.star == 2" class="rating">
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                            </div>
                            <div *ngIf="v.star > 2 && v.star < 3" class="rating">
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star-half-alt"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                            </div>
                            <div *ngIf="v.star  == 3" class="rating">
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                            </div>
                            <div *ngIf="v.star > 3 && v.star < 4" class="rating">
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star-half-alt"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                            </div>
                            <div *ngIf="v.star  == 4" class="rating">
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon [icon]="['far', 'star']"></fa-icon>
                            </div>
                            <div *ngIf="v.star > 4 && v.star < 5" class="rating">
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star-half-alt"></fa-icon>
                            </div>
                            <div *ngIf="v.star == 5" class="rating">
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                                <fa-icon slot="start" icon="star"></fa-icon>
                            </div>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="fav_stylist.length < 1">
                <ion-col>
                    <p class="no-item">No favorite stylist</p>
                </ion-col>
            </ion-row>
            
        </ion-grid>
        <div class="ion-text-center">
            <ion-button shape="round" color="primary ">Load More</ion-button>
            <p><a routerLink='#'>Manage your favorite Barbers and Stylists list</a></p>
        </div>

    </div>
    <div class="ss_favor_home">
        <h3 class="ion-text-center">{{ name }}’s Favorite Hairstyles</h3>

        <ion-grid>
            <ion-row *ngIf="gallery.length > 0">
                <ion-col *ngFor="let v of gallery">
                    <ion-card>
                        <ion-img ionImgViewer title="Demo" text="Directive" scheme="light" [src]="apiLink+'public/images/'+v.image">
                        </ion-img>

                    </ion-card>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="gallery.length < 1">
                <ion-col>
                    <p class="no-item">No favorite hair style</p>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="ion-text-center">
            <br/>
            <ion-button shape="round" color="primary ">Load More</ion-button>
            <p><a routerLink='#'>Manage your favorite Hair Styes list</a></p>
        </div>

    </div>
</ion-content>