<ion-tabs class="ss_footer_tabs">
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <img src="assets/logo_small.png" height="35">
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="search">
            <fa-icon icon="search"></fa-icon>
            <ion-label>Search</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="myfav">
            <fa-icon [icon]="['far', 'heart']"></fa-icon>
            <ion-label>MyFavs</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="myappointments">
            <fa-icon icon="calendar-alt"></fa-icon>
            <ion-label>Book</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab4">
            <fa-icon [icon]="['far', 'user']"></fa-icon>
            <ion-label>More</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>