<ion-content class="ion-no-padding">
    <div class="welcome_top">
        <h4>the new way to</h4>
        <h2>find your</h2>
        <h3>next stylist</h3>
    </div>
    <div class="ss_banner" class="ion-text-center">
        <img src="assets/large_logo.png" />
    </div>

    <div class="ss_shadow"> <img src="assets/light_shadow.png" height="94" /></div>
    <div class="ss_wel_bottom" class="ion-text-center">
        <p class="find_bh_text">Find Barbers & Hair Stylists in your area.</p>
        <ion-button shape="round" color="primary " routerLink='/login'>SIGN IN</ion-button>
        <br/>
        <p> <a routerLink='/registration'>Sign up as a Client </a> or
            <a routerLink='/registration'>Sign up as Barber/Stylist</a></p>
    </div>
</ion-content>